---
title: Welcome to Middleman
---

<div class="concrete-bg">

	<section class="background-image boxy-right" style="background-image: url('<%= image_path('section1/ted.png') %>');">
		
		<div class="outer-pad">
		

			<div class="boxy two-thirds margin-one-third right">
				<p>My name is Ashley Stahl, and I’m a career and business coach who <br>helps millennials master the job hunt and step into more authentic <br>careers. </p>

				<p>After years of perfecting my craft and helping hundreds of people <br>make positive career changes, negotiate raises and promotions and <br>land their dreams jobs, I have A LOT of knowledge and experience <br>to share.</p>

				<p>The Limitless Career Lab is my 8-week intensive home study course, <br>designed to help you: </p>

				<ul>
					<li><strong>Get clarity on your options and the right jobs for you.</strong></li>

					<li><strong>Discover the right way to answer the dreaded, “Tell me about <br>		yourself!”</strong> – crafting an empowering elevator pitch that draws <br>		you into job interviews.</li>

					<li><strong>Create a resume and cover letter that doesn’t end up in the <br>		trash bin!</strong> You must know how to translate your strengths into <br>		these tiny one-page documents.</li>

					<li><strong>Discover WHO you need to network with to land your dream <br>		job,</strong> and HOW to reach out to them (and get a positive response… <br>		that turns into a job offer!).</li>

					<li>Leverage Twitter and LinkedIn to <strong>connect with people who would<br>	 otherwise be inaccessible + position yourself as a thought <br>		leader in your industry...</strong> even if you have no experience!</li>

					<li><strong>Ace every job interview</strong> – including challenging questions about <br>		money, your weaknesses, and any gaps in your resume/work <br>		experience.</li>

					<li><strong>Negotiate a huge salary bump</strong>, even when your employer tells you <br>		the number “isn’t flexible.”</li>

					<li><strong>Gain confidence in your abilities & feel excited about your <br>		career again.</strong></li>

				</ul>

			</div>

			<div class="center">

				<h2>READY TO GET STARTED?</h2>
				
				<p style="">
					<a class="btn btn-blue" href="#">Sign Me Up</a>
				</p>

			</div>

		</div>

	</section>

</div>

<section class="testimonial-wrapper outer-pad">
	
	<div class="inner-pad">

		<div class="testimonial">

				
			<p>
				<img src="<%= image_path('sarah_d.png'); %>">
			“I am so glad I participated in Limitless Career Lab, because I was lost <br>on my own – nothing I did was working for me.  Not only was I not <br>getting the job, I was not even getting the interview! (And I thought <br>my resume and cover letter were spotless, so I couldn't imagine why I <br>wasn't getting any calls.) I knew the way I was headed in my career no <br>longer suited me and my needs, but I didn't know how to re-route my <br>journey without losing precious time.</p>



			<p>After working with Ashley, I was able to learn new skills – or re-vamp existing ones – that <br>made me feel confident in my resume and experience.  Ashley helped me get clear about <br>where my talents would be most effective, and map out a variety of paths to get me to the <br>most desired result. This led to SEVERAL interviews (and a few offers!) in the first month. </p>

			<p>Ashley is so passionate about what she does and I really felt like she genuinely wanted to <br>help me. I am so excited for future participants!”</p>


			<div class="byline">
				Sarah D.<br>
				Philadelphia, PA
			</div>

		</div>

	</div>

</section>

<section class="generic-wrapper outer-pad bg-left" style="background-image: url('<%= image_path('section2/ashley1.png') %>');">
	

	<div class="center">
	
		<h3>FROM UNDERPAID ADMIN ASSISTANT TO<br>AWARD-WINNING CAREER COACH</h3>

	</div>
	
	<div style="height: 792px;">

		<div class="center">
			<img src="<%= image_path('my-story.png') %>" alt="My Story">
		</div>

		<div class="content half margin-half">
			<p>I remember it like it was yesterday…</p>

			<p>After years of preparation for my dream job in counter-<br>terrorism – which included mastering TWO foreign <br>languages and earning my master’s degree at one of the <br>top 20 educational institutions in the world – I returned <br>home to Los Angeles and began searching for employment.</p>

			<p>And landed… a dead-end admin position.</p>

			<p>How could this happen??</p>

			<p>I had done everything “right.” </p>
				
			<p>How was it that I couldn’t even manage to get a job in my <br>desired industry – let alone something that reflected the <br>level of education and experience I’d spent years working <br>so hard for? <br><br>Every day in my first job was spent ordering cupcakes for <br>office parties and processing travel expenses for executives’ exciting business trips to locations I never thought I’d get to see. </p>

		</div>

	</div>

	<div class="content">
		<p><big><strong>I was in such FEAR that I would never live my purpose – or be the woman<br>I truly wanted to be – that I could hardly even hear the <u>persistent whisper</u><br>in the back of my head telling me I was <em>meant</em> for more…</strong></big></p>

		<p>I let that cubicle drag me to the depths of despair because I didn’t know HOW or IF I could actually find something<br>better.</p>

		<p><em>Most of all, I was scared it just wouldn’t happen for me. I felt hopeless.</em></p>
		
		<p class="center"><img src="<%= image_path('fast-forward.png') %>" alt="Fast-Forward a few years"></p>

		<p>Since that day, I have managed a high-level program for the Pentagon (yes, I did go on to land that “dream job” … <br>more on that shortly), I have spoken on stages such as TEDxBerkeley, and I have been featured in dozens of <br>publications and TV programs, including:</p>

		<p class="center"><img src="<%= image_path('news.png') %>" alt="News"></p>

		<p>I’ve helped hundreds of 20 and 30somethings men and women around the country <em>land their dream jobs</em> (even in<br>cities or countries they’ve never visited before!), <em>negotiate salary bumps</em>, and <em>make career changes</em> that are in<br>alignment with who they really are. </p>

		<p>Best of all, I LOVE what I do. </p>
	</div>

</section>

<section class="generic-wrapper outer-pad bg-right" style="background-image: url('<%= image_path('section4/ashley2.png') %>');">
	
	<div class="content">

		<p><img src="<%= image_path('what-changed.png') %>" alt="What changed?"></p>

		<p>How did I go from feeling stuck in a dead-end job with no opportunities <br>in sight, to working as one of the youngest management professionals for <br>the Pentagon, to passionate career coach and entrepreneur in just a few <br>short years?</p>

		<p><strong>It all began with a choice.</strong></p>

		<p>After months of feeling miserable and going through more pints of Ben & <br>Jerry’s than I care to admit, I finally decided to do whatever it took to make <br>a change. </p>

		<p>I quit my dead-end job in LA and moved to Washington, D.C. (with zero <br>job prospects and zero professional contacts). </p>

		<p>In the span of 6 weeks, I went to 90 events, had coffee with 200 people, <br>and landed 3 job offers.  </p>

		<p>I accepted my dream job at the Pentagon, which meant that I went <br>from an executive assistant to executive… All in one job-hunt.</p>

		<p>Not to mention, I <em>tripled</em> my salary.</p>

		<p>I thought I was set for life. </p>

		<p><strong>Finally, all my hard work had paid off.</strong></p>

	</div>

</section>

<section class="generic-wrapper outer-pad concrete">

	<div class="content">


		<p class="center">
			<img src="<%= image_path('something-was-missing.png') %>">
		x</p>

		<div class="inner-pad">

			<p>I didn’t want to admit it to myself, but after the initial glow of my new salary and <br>sparkly D.C. life began to fade, it slowly dawned on me that the dream I had <br>pursued for so long might not be the best fit for me after all.</p>

			<p>At first, it was the pervasive culture of paternalism and sexism that got under my <br>skin – but getting hit on by my much-older coworkers was a manageable annoyance.</p>

			<p>It was my unexpected fear of bloodshed that soon became the bigger problem.</p>

			<p>How was I going to be a spy, if I couldn’t even hold a gun?!</p>

			<p>This sent me into a tailspin...</p>

			<p>I remember feeling like my career, my passion and my identity were all in conflict <br>with one another. </p>

			<p>More than anything, I felt completely alone. </p>

			<p>Turns out, I wasn’t alone at all. In fact…</p>

			<p>75% of the U.S. population is hiding some part of their identity at work (Reuters). </p>

			<p>I tried to stick it out. </p>

		</div>

		<p class="center">
			<img src="<%= image_path('got-to-the-point.png') %>">
		</p>

		<div class="inner-pad">

			<ul>
				<li>I was scared and hopeless that I would never find my purpose in the workforce. </li>

				<li>I worried that I would spend my entire life counting down to Fridays, never finding a career that energized <br>				and excited me. </li>

				<li>I was overwhelmed and upset by the idea of letting life happen to me, just taking jobs just because I “should <br>				take what I can get,” 	or because I didn’t really know what I wanted.</li>

				<li>I knew deep down inside that I was just holding onto my “plan” for the sake of having one.</li>
			</ul>

			<p>I tried talking to friends about my predicament, but somehow the conversation always turned back to them and <br>their careers. </p>

			<p>Everyone, it seemed, was experiencing a crisis of their own – and they wanted to know how I’d managed to triple <br>my income, land so many interviews, and become so efficient at networking.</p>

		</div> 

	</div>

</section>

<section class="generic-wrapper outer-pad bg-bottom-left" style="padding-bottom: 0px; background-image: url('<%= image_path('section7/laptop-girl.png') %>');">

	<div class="content">

		<div class="two-thirds margin-one-third">

			<h3 class="center" style="font-size: 38px;">I DIDN’T KNOW IT AT THE TIME,<br>BUT MY NEW PATH AS A CAREER<br>COACH HAD JUST BEGUN.</h3>

			<hr>

			<p>Pretty soon, my friends were asking if they could bring their friends along to <br>our coffee dates or weekend brunches.</p>

			<p>Instead of talking about bad dates or annoying roommates, we would map out <br>how they were going to find their purpose, make a career pivot, network their <br>way into job interviews, land more job offers, and negotiate a new salary. </p>

			<p>I’ll never forget the day I arrived at Starbucks to meet a friend, and she was <br>accompanied by no less than eight of her friends – all of them crammed around <br>a tiny table.</p>

			<p>“They heard you help people get results,” she said, by way of explanation.</p>

			<p style="padding-bottom: 10px;">It seemed ironic that I was helping others live their purpose when I was still so <br>unclear on mine…</p>

		</div>

	</div>

</section>

<section class="generic-wrapper outer-pad bg-bottom-left" style="padding-bottom: 0px; background-image: url('<%= image_path('dc-bg.png') %>');">

	<div class="content">

		<p style="margin: 0" class="center">
			<img src="<%= image_path('then-came.png') %>" alt="Then came the breakthrough">
		</p>
		<h3 class="center" style="margin: 0; font-size: 38px;">(which looked a lot like a breakdown at the time)</h3>

		<p>I faced the music, and I quit my job in D.C. Next, I moved home to L.A. The fear and uncertainty I’d been dodging <br>for so long caught up with me, and I felt like a complete failure.</p>

		<p><em>After spending way too many nights up late researching career options, I knew I needed to take <u>massive action</u>, so <br>I borrowed money to hire a life coach who empowered me to move forward.</em></p>

		<p><strong>It was a life-changing decision.</strong></p>

		<p>She helped me overcome the emotional hangover I felt from realizing that my dream job wasn’t so dreamy. More <br>importantly, she helped me recover the <em>confidence</em> and <em>clarity</em> I’d lost along the way.</p>

		<p>“What lights you up?” she asked me.</p>

		<p>I reflected on the weeks in DC I spent as a job hunting and job-hopping master, and realized that <em>it was the thrill <br>of the hunt – not the job itself – that lit me up and made me come alive.</em></p>

		<p>I truly loved job hunting and helping people find their purpose… </p>

		<p>(And I always had a knack for it.)</p>

		<p>I loved networking, rebranding my resume, negotiating for my salaries, and helping other people find their purpose <br>and dream jobs. </p>

		<p>Most of all, I loved feeling like I had job security. I became so great at networking that I realized I’d never worry <br>about my career again—I was always an email away from another job offer. </p>

		<p style="padding-bottom: 10px;"><strong>When I realized this, I finally had the power to eliminate the doubts that held me back so that I could step into <br>my true purpose (helping YOU embrace yours).</strong></p>

	</div>

</section>

<section class="generic-wrapper outer-pad">
	<p class="center">
		<img src="<%= image_path('limitless-career-lab.png') %>" alt="Then came the breakthrough">
	</p>
</section>

<section class="testimonial-wrapper outer-pad concrete">

	<div class="inner-pad">
		<div class="testimonial">
				
			<p>
				<img src="<%= image_path('sarah_d.png'); %>">
			“I am so glad I participated in Limitless Career Lab, because I was lost <br>on my own – nothing I did was working for me.  Not only was I not <br>getting the job, I was not even getting the interview! (And I thought <br>my resume and cover letter were spotless, so I couldn't imagine why I <br>wasn't getting any calls.) I knew the way I was headed in my career no <br>longer suited me and my needs, but I didn't know how to re-route my <br>journey without losing precious time.</p>



			<p>After working with Ashley, I was able to learn new skills – or re-vamp existing ones – that <br>made me feel confident in my resume and experience.  Ashley helped me get clear about <br>where my talents would be most effective, and map out a variety of paths to get me to the <br>most desired result. This led to SEVERAL interviews (and a few offers!) in the first month. </p>

			<p>Ashley is so passionate about what she does and I really felt like she genuinely wanted to <br>help me. I am so excited for future participants!”</p>


			<div class="byline">
				Sarah D.<br>
				Philadelphia, PA
			</div>

		</div>
	</div>
</section>

<section class="generic-wrapper outer-pad">

	<div class="content">

		<p class="center">
			<img src="<%= image_path('bird-title.png'); %>">
		</p>

		<p>It’s about being a parent who can provide for your family, or a career person who makes positive change in the <br>world by playing BIG (and inspiring others to do the same).</p>

		<p><big style="font-size: 24px;"><em>It’s about becoming the successful, empowered, confident person you know you were <br>meant to be.</em></big></p>

		<p>Here’s the deal: confidence comes from knowledge. </p>

		<p><strong>Every day I see highly competent people lose confidence in themselves because they don’t know how to get <br>job offers.</strong></p>

		<p>I’m here to remedy that. </p>

	</div>

</section>

<section class="boxy-right outer-pad bg-top-left" style="background-image: url('<%= image_path('section9/ashley-5.png') %>');">

	<div class="boxy boxy-different two-thirds margin-one-third right">
		

		<h4><em>Limitless Career Lab</em> takes the guesswork OUT<br>of the job hunt, and helps you:</h4>

		<ol>
			<li>Hone in on your best fitting job options.</li>
			<li>Write effective resumes and cover letters.</li>
			<li>Learn to master networking (so you can get more job offers).</li>
			<li>Negotiate a strong new salary.</li>
			<li>Build confidence and empowerment.</li>
		</ol>

		<p>These are skills that last a lifetime. </p>

		<h4><em>The Program Includes:</em></h4>

		<ul>

			<li><strong>8 powerful video training modules</strong> (released weekly)</li>
			<li><strong>Weekly exercises</strong> that correspond to each module</li>
			<li><strong>3 social media tutorials</strong> to help you leverage the power of <br>						LinkedIn and Twitter</li>
			<li><strong>4 Group Coaching QA calls,</strong> where I’ll answer your questions <br>						LIVE on the line</li>
			<li><strong>30+ page workbook</strong> with all of your exercises and worksheets <br>						in one place</li>
			<li>Access to a <strong>private Facebook group</strong> where you can network <br>						with other participants and stay in touch with Ashley</li>
			<li><strong>Unlimited access to your course materials</strong> in a password-<br>						protected membership site (expires 2 years from your purchase <br>						date)</li>

		</ul>

		<p>Join anytime, and get <a href="#">instant access</a> to Module 1. </p>

		<p><big><strong>Your 8-week program begins as soon as you <br>click the button below.</strong></big></p>

		<p class="center">
			<a class="btn btn-blue" href="#">Sign Me Up</a>
		</p>

	</div>

</section>

<section class="module-wrapper inner-pad thumb-left">
	
	<div class="module-title">
		<p class="center">
			<img src="<%= image_path('module1/title.png'); %>">
		</p>
		<h5>Find Your Purpose + Hone in on Your Options.</h5>
	</div>

	<div class="module-content content">
	
		<div class="module-thumbnail">
			<img src="<%= image_path('module1/thumb.png'); %>">
		</div>

		<div class="module-text">
			<ul>
				<li>Get an answer to the question, “Am I even on the right track?”</li>
				<li>Become more aligned with your true purpose. </li>
				<li>Get more clear on your gifts – and how to translate them into <br>		the right jobs for you (this will save you endless hours of applying <br>		for the wrong jobs!). </li>
				<li>Shift your perspective and cultivate a success mindset </li>
				<li>Make a plan for where you’re going in your life/career, and <br>		HOW to get there.</li>
			</ul>

			<p><strong>+ TUTORIAL #1</strong>: How to Leverage LinkedIn for More Clarity On <br>The Best Jobs For You. </p>

		</div>

	</div>

</section>

<section class="module-wrapper inner-pad thumb-right concrete">
	
	<div class="module-title">
		<p class="center">
			<img src="<%= image_path('module2/title.png'); %>">
		</p>
		<h5>Speak About Yourself in a Way that Inspires Others to Help You.</h5>
	</div>

	<div class="module-content content">
	
		<div class="module-thumbnail">
			<img src="<%= image_path('module2/thumb.png'); %>">
		</div>

		<div class="module-text">

			<ul>	
				<li>Learn to talk about yourself when someone says, “tell me <br>		about yourself” in a way that opens really heavy doors. </li>
				<li>Train your ear to hear an invitation for an elevator pitch… <br>			and never feel like you’ve left an opportunity on the table <br>			again. </li>
				<li>Discover the two key questions you should ALWAYS ask in <br>		a networking conversation. </li>
				<li>Understand how to re-frame something “negative” (i.e. a <br>		resume gap, illness, etc.) as it comes up in a networking <br>		conversation. </li>
				<li>Learn how to address a looming doubt in the mind of your <br>		interviewer. </li>
			</ul>

		</div>

	</div>

</section>

<section class="module-wrapper inner-pad thumb-left">
	
	<div class="module-title">
		<p class="center">
			<img src="<%= image_path('module3/title.png'); %>">
		</p>
		<h5>Write a Resume That Stands Out in the Pile & Showcases Your Brilliance.</h5>
	</div>

	<div class="module-content content">
	
		<div class="module-thumbnail">
			<img src="<%= image_path('module3/thumb.png'); %>">
		</div>

		<div class="module-text">
			
			<ul>
				<li>Discover a proven step-by-step formula to create a world-class<br>		resume that stands out from the rest. </li>
				<li>Avoid the biggest mistakes that will send your resume straight <br>		to the trash. </li>
				<li>Learn to write like a professional resume writer – including <br>		timeless tips and current best practices. </li>
				<li>Position yourself as a thought leader and a high performer (in a <br>		way that translates into more $$$ in your bank account). </li>
			</ul>

		</div>

	</div>

</section>

<section class="module-wrapper inner-pad thumb-right concrete">
	
	<div class="module-title">
		<p class="center">
			<img src="<%= image_path('module4/title.png'); %>">
		</p>
		<h5>The Cover Letter Isn’t Dead (Yet). </h5>
	</div>

	<div class="module-content content">
	
		<div class="module-thumbnail">
			<img src="<%= image_path('module4/thumb.png'); %>">
		</div>

		<div class="module-text">

			<ul>
			
				<li>Understand the 2 types of cover letters (and which one you <br>		should include with your application). </li>
				<li>See examples of each type of cover letter + how to structure <br>		each paragraph. </li>
				<li>Learn common grammar, content & style mistakes to avoid. </li>
				<li>Discover what to do BEFORE you start writing, that can <br>		“make” or “break” your application. </li>

			</ul>

		</div>

	</div>

</section>

<section class="module-wrapper inner-pad thumb-left">
	
	<div class="module-title">
		<p class="center">
			<img src="<%= image_path('module5/title.png'); %>">
		</p>
		<h5>Get Clear on your strategy for WHO You’ll Network with<br>and HOW to Reach Them.</h5>
	</div>

	<div class="module-content content">
	
		<div class="module-thumbnail">
			<img src="<%= image_path('module5/thumb.png'); %>">
		</div>

		<div class="module-text">

			<ul>

				<li>Learn how to target your networking (hint: talking to family <br>		and friends of friends is only scratching the surface!). </li>
				<li>Discover networking strategies that are PROVEN to help you <br>		get job offers. </li>
				<li>Want to move to a new city/country? Learn how to land that<br>		 “destination dream job” without even leaving home. </li>

			</ul>

			<p><strong>+ TUTORIAL #2</strong>: LinkedIn Secrets to Target Your Networking <br>Efforts. </p>


		</div>

	</div>

</section>

<section class="module-wrapper inner-pad thumb-right concrete">
	
	<div class="module-title">
		<p class="center">
			<img src="<%= image_path('module6/title.png'); %>">
		</p>
		<h5>Master The Art of ‘Cold’ Networking + Land Meetings With Hiring Managers.</h5>
	</div>

	<div class="module-content content">
	
		<div class="module-thumbnail">
			<img src="<%= image_path('module6/thumb.png'); %>">
		</div>

		<div class="module-text">
			
			<ul>
				<li>Get scripts and templates for exactly what to write in your <br>		“cold” emails to hiring managers and human resources <br>		employees. </li>
				<li>Understand the art of effectively following up. </li>
				<li>Learn the structure/formula for writing your own cold <br>		emails (when you come across a new type of outreach <br>		situation). </li>
				<li>Learn how to leverage your college alumni network, even <br>		years after you’ve graduated. </li>
				<li>Land meetings with hiring managers who offer you job <br>		opportunities on the spot. </li>
				<li>Learn how to write an effective “thank you” email. </li>
			</ul>

			<p><strong>+ TUTORIAL #3</strong>: Use Twitter to Brand Yourself As A Thought Leader & Connect With Contacts Who Seem Inaccessible.</p>


		</div>

	</div>

</section>

<section class="module-wrapper inner-pad thumb-left">
	
	<div class="module-title">
		<p class="center">
			<img src="<%= image_path('module7/title.png'); %>">
		</p>
		<h5>Ace the Interview & Get the Offer.</h5>
	</div>

	<div class="module-content content">
	
		<div class="module-thumbnail">
			<img src="<%= image_path('module7/thumb.png'); %>">
		</div>

		<div class="module-text">

			<ul>
				<li>Inspire your interviewer and stand out from the crowd.</li>
				<li>Talk about your biggest weaknesses in a way that is honest <br>		AND positions you as a strong candidate. </li>
				<li>Answer interview questions about salary expectations with <br>		ease & grace. </li>
				<li>Learn how to prepare as effectively as possible.</li>
				<li>Navigate phone or Skype interviews like a pro. </li>
				<li>Secrets on how to tactfully follow up.</li>
			</ul>

		</div>

	</div>

</section>

<section class="module-wrapper inner-pad thumb-right concrete">
	
	<div class="module-title">
		<p class="center">
			<img src="<%= image_path('module8/title.png'); %>">
		</p>
		<h5>Get a Raise Before You’re Even Hired! Negotiate the Non-Negotiables.</h5>
	</div>

	<div class="module-content content">
	
		<div class="module-thumbnail">
			<img src="<%= image_path('module8/thumb.png'); %>">
		</div>

		<div class="module-text">

			<ul>
			
				<li>Negotiate a 20% salary bump before you sign the dotted <br>		line.</li>
				<li>Find out what employers are paying in your industry (this <br>		can make all the difference in the negotiation process).</li>
				<li>Get a raise – even when the employer tells you the number<br>		“isn’t flexible.”</li>
				<li>Learn how to make it a win-win negotiation every time.</li>

			</ul>

		</div>

	</div>

</section>

<section class="testimonial-wrapper outer-pad">
	
	<div class="inner-pad">

		<div class="testimonial">

				
			<p>
				<img src="<%= image_path('testimonials/rory.png'); %>">
			Before working with Ashley in the Limitless Career Lab, I was <br>unsatisfied in the retail jobs I worked, but unable to move out <br>of these fields. I was supporting my filmmaking work out of <br>pocket, and not able to get a job in my field despite having a <br>BFA in film and a certificate in Digital Filmmaking. Most of all, <br>I was your typical disenfranchised millennial.</p>

			<p>After joining Ashley’s program, I was employed in the entertainment <br>industry working regular office hours- two things I previously thought <br>were incompatible! I also become very aware of an incredible number of opportunities in <br>my field- truly a mindset of abundance, and I no longer feel trapped in my current role. I am <br>now using my education, my talents, and working a job that I can honestly say I love.</p>

			<p>I'm so glad I did this because Ashley's tips have stayed with me far beyond the course, and <br>have helped me not only in securing employment, but in my personal artistic endeavors as <br>well.  Her networking and job-hunting tips are timeless, but the course itself was highly <br>tailored to my individual needs at the time.  She helped me get past a huge professional <br>block, and my career has soared since taking the course.  I can't recommend her enough!</p>

			<div class="byline">
				Rory Gory<br>
				Los Angeles, CA
			</div>

		</div>

	</div>

</section>

