---
title: Welcome to Middleman
---

<div class="concrete-bg">

	<section class="background-image boxy-right" style="background-image: url('<%= image_path('section1/ted.png') %>');">
		
		<div class="outer-pad">
		

			<div class="boxy two-thirds margin-one-third right">
				<p>My name is Ashley Stahl, and I’m a career and business coach who <br>helps millennials master the job hunt and step into more authentic <br>careers. </p>

				<p>After years of perfecting my craft and helping hundreds of people <br>make positive career changes, negotiate raises and promotions and <br>land their dreams jobs, I have A LOT of knowledge and experience <br>to share.</p>

				<p>The Limitless Career Lab is my 8-week intensive home study course, <br>designed to help you: </p>

				<ul>
					<li><strong>Get clarity on your options and the right jobs for you.</strong></li>

					<li><strong>Discover the right way to answer the dreaded, “Tell me about <br>		yourself!”</strong> – crafting an empowering elevator pitch that draws <br>		you into job interviews.</li>

					<li><strong>Create a resume and cover letter that doesn’t end up in the <br>		trash bin!</strong> You must know how to translate your strengths into <br>		these tiny one-page documents.</li>

					<li><strong>Discover WHO you need to network with to land your dream <br>		job,</strong> and HOW to reach out to them (and get a positive response… <br>		that turns into a job offer!).</li>

					<li>Leverage Twitter and LinkedIn to <strong>connect with people who would<br>	 otherwise be inaccessible + position yourself as a thought <br>		leader in your industry...</strong> even if you have no experience!</li>

					<li><strong>Ace every job interview</strong> – including challenging questions about <br>		money, your weaknesses, and any gaps in your resume/work <br>		experience.</li>

					<li><strong>Negotiate a huge salary bump</strong>, even when your employer tells you <br>		the number “isn’t flexible.”</li>

					<li><strong>Gain confidence in your abilities & feel excited about your <br>		career again.</strong></li>

				</ul>

			</div>

			<div class="center">

				<h2>READY TO GET STARTED?</h2>
				
				<p style="">
					<a class="btn btn-blue" href="#">Sign Me Up</a>
				</p>

			</div>

		</div>

	</section>

</div>

<section class="testimonial-wrapper outer-pad">
	
	<div class="inner-pad">

		<div class="testimonial">

				
			<p>
				<img src="<%= image_path('sarah_d.png'); %>">
			“I am so glad I participated in Limitless Career Lab, because I was lost <br>on my own – nothing I did was working for me.  Not only was I not <br>getting the job, I was not even getting the interview! (And I thought <br>my resume and cover letter were spotless, so I couldn't imagine why I <br>wasn't getting any calls.) I knew the way I was headed in my career no <br>longer suited me and my needs, but I didn't know how to re-route my <br>journey without losing precious time.</p>



			<p>After working with Ashley, I was able to learn new skills – or re-vamp existing ones – that <br>made me feel confident in my resume and experience.  Ashley helped me get clear about <br>where my talents would be most effective, and map out a variety of paths to get me to the <br>most desired result. This led to SEVERAL interviews (and a few offers!) in the first month. </p>

			<p>Ashley is so passionate about what she does and I really felt like she genuinely wanted to <br>help me. I am so excited for future participants!”</p>


			<div class="byline">
				Sarah D.<br>
				Philadelphia, PA
			</div>

		</div>

	</div>

</section>

<section class="generic-wrapper outer-pad bg-left" style="background-image: url('<%= image_path('section2/ashley1.png') %>');">
	

	<div class="center">
	
		<h3>FROM UNDERPAID ADMIN ASSISTANT TO<br>AWARD-WINNING CAREER COACH</h3>

	</div>
	
	<div style="height: 792px;">

		<div class="center">
			<img src="<%= image_path('my-story.png') %>" alt="My Story">
		</div>

		<div class="content half margin-half">
			<p>I remember it like it was yesterday…</p>

			<p>After years of preparation for my dream job in counter-<br>terrorism – which included mastering TWO foreign <br>languages and earning my master’s degree at one of the <br>top 20 educational institutions in the world – I returned <br>home to Los Angeles and began searching for employment.</p>

			<p>And landed… a dead-end admin position.</p>

			<p>How could this happen??</p>

			<p>I had done everything “right.” </p>
				
			<p>How was it that I couldn’t even manage to get a job in my <br>desired industry – let alone something that reflected the <br>level of education and experience I’d spent years working <br>so hard for? <br><br>Every day in my first job was spent ordering cupcakes for <br>office parties and processing travel expenses for executives’ exciting business trips to locations I never thought I’d get to see. </p>

		</div>

	</div>

	<div class="content">
		<p><big><strong>I was in such FEAR that I would never live my purpose – or be the woman<br>I truly wanted to be – that I could hardly even hear the <u>persistent whisper</u><br>in the back of my head telling me I was <em>meant</em> for more…</strong></big></p>

		<p>I let that cubicle drag me to the depths of despair because I didn’t know HOW or IF I could actually find something<br>better.</p>

		<p><em>Most of all, I was scared it just wouldn’t happen for me. I felt hopeless.</em></p>
		
		<p class="center"><img src="<%= image_path('fast-forward.png') %>" alt="Fast-Forward a few years"></p>

		<p>Since that day, I have managed a high-level program for the Pentagon (yes, I did go on to land that “dream job” … <br>more on that shortly), I have spoken on stages such as TEDxBerkeley, and I have been featured in dozens of <br>publications and TV programs, including:</p>

		<p class="center"><img src="<%= image_path('news.png') %>" alt="News"></p>

		<p>I’ve helped hundreds of 20 and 30somethings men and women around the country <em>land their dream jobs</em> (even in<br>cities or countries they’ve never visited before!), <em>negotiate salary bumps</em>, and <em>make career changes</em> that are in<br>alignment with who they really are. </p>

		<p>Best of all, I LOVE what I do. </p>
	</div>

</section>

<section class="generic-wrapper outer-pad bg-right" style="background-image: url('<%= image_path('section4/ashley2.png') %>');">
	
	<div class="content">

		<p><img src="<%= image_path('what-changed.png') %>" alt="What changed?"></p>

		<p>How did I go from feeling stuck in a dead-end job with no opportunities <br>in sight, to working as one of the youngest management professionals for <br>the Pentagon, to passionate career coach and entrepreneur in just a few <br>short years?</p>

		<p><strong>It all began with a choice.</strong></p>

		<p>After months of feeling miserable and going through more pints of Ben & <br>Jerry’s than I care to admit, I finally decided to do whatever it took to make <br>a change. </p>

		<p>I quit my dead-end job in LA and moved to Washington, D.C. (with zero <br>job prospects and zero professional contacts). </p>

		<p>In the span of 6 weeks, I went to 90 events, had coffee with 200 people, <br>and landed 3 job offers.  </p>

		<p>I accepted my dream job at the Pentagon, which meant that I went <br>from an executive assistant to executive… All in one job-hunt.</p>

		<p>Not to mention, I <em>tripled</em> my salary.</p>

		<p>I thought I was set for life. </p>

		<p><strong>Finally, all my hard work had paid off.</strong></p>



	</div>


</section>